fastapi
uvicorn
python-dotenv
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
PyPDF2
python-docx
requests
bcrypt
psycopg2-binary
pytesseract
pdf2image
Pillow
pymupdf

cryptography
PyJWT
jinja2
httpx

